<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>Usefulinx</title>
</head>
<body>
    <section id="app" v-cloak>
        <section class="landing" v-if="page === 'landing'">
            <h1 class="landing_logo">
                <span class="landing_logo__userfu">
                    <span class="landing_logo__inner">userfu</span>
                </span>
                <span class="landing_logo__slashes">//</span>
                <span class="landing_logo__inx">
                    <span class="landing_logo__inner">inx</span>
                </span>
            </h1>
            <h2 class="landing_title landing_title__save"><span class="landing_title__big"><span class="landing_title__red">Сохраняйте</span> ссылки,</span> чтобы не потерять их</h2>
            <svg class="landing_line landing_line__first" width="105" height="22" viewBox="0 0 105 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1C9.45894 8.69953 32.9449 22.1831 59.2174 14.5211C85.4899 6.85915 100.019 15.6479 104 21" stroke="#12297B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                    
            <h2 class="landing_title landing_title__group"><span class="landing_title__big"><span class="landing_title__red">Группируйте,</span></span> чтобы упорядочить</h2>
            <svg class="landing_line landing_line__second" width="252" height="57" viewBox="0 0 252 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M250.831 1C246.302 24.2883 165.74 45.3323 117.387 25.2793C26.5856 -12.3784 -6.02299 -1.97297 2.00383 56" stroke="#12297B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                      
            <h2 class="landing_title landing_title__signup"><span class="landing_title__big"><span class="landing_title__red">Зарегистрируйтесь,</span></span> если впервые</h2>
            <svg class="landing_line landing_line__third" width="147" height="32" viewBox="0 0 147 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 1C5 29 129.5 -5.70052 146 31" stroke="#12297B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>    
            <button 
                @click="onLandingSignUpButtonClick"    
                class="landing_button landing_button__signup"
            >Зарегистрироваться</button>
            <svg class="landing_line landing_line__fourth" width="9" height="50" viewBox="0 0 9 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.98721 1C10 17.5 -1.00042 32 1.03161 49" stroke="#12297B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>    
            <h2 class="landing_title landing_title__login">
                <span class="landing_title__big">
                    <span class="landing_title__green">Войдите,</span>
                </span>
                если есть аккаунт в userfulinx
            </h2>
            <!-- <svg class="landing_line landing_line__fifth" width="7" height="47" viewBox="0 0 7 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.57601 1C7.19384 29 3.86001 19.871 1 46" stroke="#12297B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                     -->
            <button 
                class="landing_button landing_button__login"
            >Войти</button>
        </section>
        <section class="signup" v-if="page === 'signup'">
            <h1>Hello everybody</h1>
            <button @click="page = 'landing'">Назад</button>
        </section>
    </section>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>