*, body {
    box-sizing: border-box;
    font-family: 'Rubik';
}
body {
    --red: #C00781;
    --darkblue: #12297B;
    --blue: #284CCB;
    --darkgreen: #1EAB81;
    --green: #00B57E;
    --borderRadius: 10px;
    --white: #fff;
    font-family: 'Rubik';
    height: 100%;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow-x: hidden;
    background-color: rgb(36, 35, 51);
}
body, h1,h2,h3,h4,h5,h6,ul {
    margin: 0;
    padding: 0;
}
.red {
    color: var(--red)
}
.green {
    color: var(--green);
}
input {
    border-radius: var(--borderRadius);
    height: 50px;
    border: 2px solid #ddd;
}

#app {
    width: 375px;
    height: 100vh;
    max-width: 375px;
    background: var(--white);
}
.signup {
    position: relative;
    padding-top: 15px;  
    padding-left: 20px;
    padding-right: 20px;
}
.signup_back {
    position: absolute;
    left: 20px;
    top: 30px;
    
    border: 0;
    display: flex;
    align-items: center;

    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}
.signup_back:hover {
    color: var(--red);
}

.signup_back__icon {
    margin-right: 10px;
}
.signup_back:hover .signup_back__icon path {
    stroke: var(--red);
}

.signup_logo {
    font-weight: 900;
    font-size: 40px;
    text-align: center;

    color:var(--green);
}

.signup_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.signup_form__username, .signup_form__password {
    padding-left: 20px;
    outline: 0;
    padding-right: 20px;
}
.signup_form__username:focus, .signup_form__password:focus {
    border-color: var(--blue);
}
.signup_form__button {
    height: 50px;  
    color: var(--white);
    border: 0;
    font-weight: 700;
    background-image: linear-gradient(90deg, var(--red), var(--blue), var(--red)); 
    border-radius: var(--borderRadius);
    background-size: 1000px;
    background-position: 0px 0px;
    animation: signup_form__button 5s linear infinite forwards;
    cursor: pointer;
}
@keyframes signup_form__button {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1000px 0px;
    }
}
.signup_form__button:hover {
    animation-duration: 1s;
}
.signup_select {
    width: 100%;
    margin-top: 150px;
    display: flex;
    list-style: none;
}
.signup_select li {
    width: 50%;
}
.signup_select__signup, .signup_select__login {
    width: 100%;
    height: 50px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    color: var(--darkblue);
}
.signup_select__line {
    width: 50%;
    margin: 0;
    height: 1px;
    
    align-self: flex-start;

    background-color: var(--red);
    border: 0px;
    transition: 0.3s ease;
}
.signup_select__line-login {
    transform: translateX(100%);
}
.signup_form__button-login {
    background-image: linear-gradient(90deg, var(--blue), var(--green), var(--blue));
}